resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: icr.io/cpopen/ibm-namespace-scope-operator
  newName: icr.io/cpopen/ibm-namespace-scope-operator
  newTag: 4.2.21
